@import url("https://fonts.googleapis.com/css2?family=Preahvihear&family=Sora&display=swap");
nav {
  background-color: black;
  color: white;
  padding: 20px;
}

.logo > a {
  text-decoration: none;
  font-size: 32px;
  color: white;
  font-family: "Preahvihear", sans-serif;
  font-family: "Sora", sans-serif;
}
.logo > a > span {
  color: #1b55f7;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}
.nav_container > li {
  list-style: none;
  line-height: 20px;
}
.mid_menu {
  display: flex;
  font-size: 14px;
}
.mid_menu > li {
  margin: 0px 5px;
  padding: 10px 10px;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn > button {
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 16px;
  background-color: #3469fa;
  border: transparent;
  color: white;
  font-size: 14px;
  height: 40px;
}
.btn > button:hover {
  background-color: #1b55f7;
  cursor: pointer;
}

/* Dropdown styles */
.dropdown {
  position: absolute;
  top: 70%;
  display: none;
  background-color: #222222c3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100px;
  border-radius: 10px;
}

.dropdown > li {
  text-align: center;
}

.item:hover .dropdown {
  display: block;
}

.dropdown li {
  padding: 10px;
  list-style: none;
  text-align: center;
}

.dropdown li:last-child {
  border-bottom: none;
}

.dropdown li:hover {
  background-color: #f3ecec50;
  border-radius: 10px;
  cursor: pointer;
}
.menu_bar {
  display: none;
}
.menu_bar > button {
  border: transparent;
}

.dropdown_menu {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 15px;
}
.menu_bar > .dropdown_menu {
  width: 95%;
  background-color: black;
  border-radius: 20px;
  z-index: 300;
  transform: translateY(0px) translateX(0px);
  transition: transform 400ms ease 0s;
}

.dropdown_menu > li {
  padding-bottom: 15px;
  padding-top: 15px;
}
@media only screen and (max-width: 990px) {
  nav {
    padding-left: 2px;
  }

  .logo > a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-family: "Preahvihear", sans-serif;
    font-family: "Sora", sans-serif;
  }
  .btn > button {
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 10px;
    background-color: #3469fa;
    border: transparent;
    color: white;
    font-size: 10px;
    height: 30px;
  }
  .mid_menu {
    display: none;
  }
  .menu_bar {
    display: block;
  }
  .fa-bars {
    color: white;
    background-color: black;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    top: 120%;
    display: none;
    background-color: #222222c3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100px;
    border-radius: 10px;
    left: 43%;
  }
}
